:root {
    --BLEU1: #001D3D;
    --JAUNE1: #FFC300;
    --BLEU2: #003566;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Header */




header {
    background-color: var(--BLEU1);
    color: #fff;
    padding: 32px;
    margin: 16px;
    border-radius: 10px;
}

h1 {
    font-weight: 900;
}

.burger{
    font-size: 2rem;
}

header .headMenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;  
}

#navigation{
    display: none;
    text-decoration: none;
    color: white;
    align-items: flex-end;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

#navigation:hover{
    color: var(--JAUNE1);
    scale: 1.06;
}

.fa-bars, .fa-user {
    font-size: x-large;
    color: white;
    background-color: var(--BLEU1);
    border: none;
    transition: transform 0.3s ease;
    transition: color 0.3s ease;
    cursor: pointer;
}

.fa-bars, .fa-user:hover{
    transform: scale(1.10);
    color: var(--JAUNE1);
}




/* Main */


main {
    padding: 2rem;
}

.titre-page{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 1rem;
}

.text-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.article{
    box-shadow: 0 2px 4px  black;
    border-radius: 8px;
    max-width: 1100px;
    transition: transform 0.3s ease;
    display: flex;
    padding: 26px;
    gap: 1rem;
    margin: auto auto 30px auto;
}

.article:hover{
    transform: scale(1.02)
}



article img {
    width: 150px;
    height: 110px;
    border-radius: 5px;
    object-fit: cover;
}

article h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

article p {
    font-size: 0.95rem;
    color: #333;
    text-align: justify;
}

input {
    align-self: flex-end;
    background-color: var(--JAUNE1);
    border: 1px solid;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    transition: color 0.3s;
    transition: background 0.3s;
}

input:hover {
    background: var(--BLEU2);
    color: aliceblue;
}


/* Footer */


footer {
    background-color: var(--BLEU1);
    color: white;
    padding: 2rem 1rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-logo {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 6rem;
    width: 100%;
}

.footer-info p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    width: 50%;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
}

.footer-info a:hover {
    color: #FFC300;
}

.adresse {
    width: 30%;
}

footer p {
    display: flex;
    flex-direction: column;
}