* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    --BLEU1: #001D3D;
    --JAUNE1: #FFC300;
    --BLEU2: #003566;
}

header {
    background-color: var(--BLEU1);
    color: #fff;
    padding: 32px;
    margin: 16px;
    border-radius: 10px;
}

h1 {
    font-weight: 900;
}

.burger{
    font-size: 2rem;
}

header .headMenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navigation{
    display: noe;
    text-decoration: none;
    color: white;
    align-items: flex-end;
}

#navigation:hover{
    color: var(--JAUNE1);
    scale: 1.06;
}

.fa-bars, .fa-user {
    font-size: x-large;
    color: white;
    background-color: var(--BLEU1);
    border: none;
    transition: transform 0.3s ease;
    transition: color 0.3 ease;
    cursor: pointer;
}

.fa-bars, .fa-user:hover{
    transform: scale(1.10);
    color: var(--JAUNE1);
}

body{
    text-align: center;
}

h1{
    text-align: center;
    margin: 20px;
}

p{
    text-align: center;
    padding: 20px;
}

fieldset{
    padding: 1rem;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "Nom Prénom"
    "Email Téléphone"
    "Objet Objet"
    "Message Message"
    "Button Button";
}


#Nom{
    grid-area: Nom;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#Prénom{
    grid-area: Prénom;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#Email{
    grid-area: Email;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#Téléphone{
    grid-area: Téléphone;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#Objet{
    grid-area: Objet;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#Message{
    grid-area: Message;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

#button{
    background-color: var(--JAUNE1);
    grid-area: Button;
    width: 10%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

footer {
    background-color: var(--BLEU1);
    color: white;
    padding: 2rem 1rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-logo {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 6rem;
    background-color: aqumarine;
    width: 100%;
}

.footer-info p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    width: 50%;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
    margin: auto;
}

.footer-info a:hover {
    color: #FFC300;
}

.adresse {
    width: 30%;
}

footer p {
    display: flex;
    flex-direction: column;
}